<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HabilidadesDiv.css">
    <script src="https://kit.fontawesome.com/af90d27089.js" crossorigin="anonymous"></script>
    <title>
        Hability
    </title>
</head>
<body>
    <div id="skills">
        <div id="Imagem">

        </div>
        <div id="Texto">
            <h1>
                Habilidades
            </h1>
            <span id="MovementSkills">
                <span>
                    <i class="fa-brands fa-html5"></i>
                </span>
                <span>
                    <i class="fa-brands fa-css3-alt"></i>
                </span>
                <span>
                    <i class="fa-brands fa-js"></i>
                </span>
                <span>
                    <i class="fa-brands fa-python"></i>
                </span>
                <span>
                    <i class="fa-brands fa-react"></i>
                </span>
            </span>
            <h2>
                Cursos
            </h2>
            <span id="Courses">
                <div>
                    <img src="unnamed.jpg" alt="curso">
                </div>
                <div><img src="channels4_profile.jpg" alt="curso"></div>
            </span>
        </div>
    </div>
</body>
</html>