*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
:root{
    --Cor0: white;
    --Cor1: #86defc;
    --Cor2: #57d0f8;
    --Cor3: #02B4EE;
    --Cor4: #0390be;
    --Cor5: #02698b;
    --Cor6: #012936;
    --Cor7: #000000;
}
/* Mecanismos Gerais */
@font-face{
    font-family: 'ShareTech';
    src: url('../../Fontes/ShareTech-Regular.ttf');
}
/* Pequeno */
@media only screen and (min-width:537px){
    body{
        background-image: url('../../imagem/Fundo/Easy01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(10px);
        background-attachment: fixed;
    }
    p{
        font-size: 20px;
        color: var(--Cor0);
    }
    h1{
        color: var(--Cor0);
    }
    picture{
        display: block;
    }
    h1,h2,h3,h4,h5,h6,p{
        font-family: ShareTech;
    }
    #TP{
        font-size: 25px; 
    }
    #TG{
        font-size: 30px;
    }
    #Nome{
        color: var(--Cor1);
    }
    .Título{
        font-size: 25px;
    }
    .ícone{
        width: 50px;
    }
    .Icon_alinP1{
        display: inline-block;
    }
    .Icon_alinP2{
        display: inline-block;
    }
    /* Apoio */
    #Apoio{
        font-size: 25px;
    }
    #Apoio img{
        width: 200px;
    }
    /* Projetos */
    #Projects{
        background-color: rgba(240, 248, 255, 0.103);
        padding: 2%;
        position: absolute;
        left: 60%;
        top: 10%;
        border-radius: 10%;
        text-align: center;
    }
    .ES_DI{
        display: inline-block;
    }
    .ProjeLin{
        display: inline-block;
    }
    .ícone_Projetos{
        width: 107px;
        border: var(--Cor4) solid 3px;
    }
    .ícone_Projetos:hover{
        border: var(--Cor5) solid 3px;
    }
    .ícone_Projetos:active{
        border: var(--Cor6) solid 3px;
    }
    /* Pé */
    footer{
        padding: 1px;
    }
    /* Botão */
    #Pos_Bot{
        display: flex;
        justify-content: right;
    }
    #Posição_Bot{
        position: absolute;
        top: 2%;
        left: 77%;
    }
    .Bot{
        color: var(--Cor0);
        background-color: var(--Cor3);
        border: 3px solid var(--Cor4);
        margin: 1px;
        
    }
    button:hover{
        color: var(--Cor1);
        background-color: var(--Cor4);
        border: 3px solid var(--Cor5);
    }
    button:active{
        color: var(--Cor2);
        background-color: var(--Cor5);
        border: 3px solid var(--Cor6);
    }
    .Bot_Link{
        color: var(--Cor0);
        text-decoration: none;
    }
    .Bot_Link:hover{
        color: var(--Cor1);
        text-decoration: none;
    }
    .Bot_Link:active{
        color: var(--Cor2);
        text-decoration: none;
    }
}