<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="Projects">
        <h1>
            Projetos
        </h1>
        <div id="MoveProjects">
            <div id="content">
                <div class="Card">

                </div>
                <div class="Card">

                </div>
                <div class="Card">

                </div>
                <div class="Card">

                </div>
            </div>
        </div>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde nisi harum aut, obcaecati assumenda aliquid error rerum sit dolore? Ipsum porro quo eius veniam dolorum fugiat cum doloribus ex.
</body>
</html>