
#Projects{
    position: relative;
    background-color: blue;
    height: 350px;
    display: flex;
    flex-direction: column;
    font-family: "Cloister";
}
#Projects > h1{
    width: 100%;
    background-color: #1E9C4D;
    height: 60px;
    color: white;
    display: grid;
    place-items: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0.211);
}
#MoveProjects{
    flex: auto;
    background-color: #cdcdcd;
    overflow-x: auto;
    display: grid;
    place-items: center;
}
#content{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.Card{
    position: relative;
    background-color: #C51D16;
    border: 4px solid black;
    border-radius: 20px;
    width: 150px;
    height: 200px;
    margin: 20px;
    display: grid;
    place-items: center;
}
.Card > a{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}
#youtubechallenges{
    background-image: url("../../../images/Projetos/YouTubeChallanges.gif");
}
#PPT{
    background-image: url("../../../images/Projetos/PPT.gif");
}
#QuickMunch{
    background-image: url("../../../images/Projetos/QuickMunch.gif");
}
#CuriosidadesTecnologia{
    background-image: url("../../../images/Projetos/CuriosidadesTecnologia.gif");
}
#calculadoracrow{
    background-image: url("../../../images/Projetos/calculadora.gif");
}