<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crow</title>
    <link rel="stylesheet" href="CrowImg.css">
</head>
<body>
    <span id="CrowIMG">
        <img id="Cat" src="../../assets/images/PYh.gif" alt="Cat">
        <img id="Corvo1" src="../../assets/images/dgj0lcs-089970c3-cd19-48a2-8f9b-7a4321aadd1c.gif" alt="Crow.gif">
        <img id="Corvo2" src="../../assets/images/dgj0lcs-089970c3-cd19-48a2-8f9b-7a4321aadd1c.gif" alt="Gif.gif">
        <img id="Cat2" src="../../assets/images/PYh.gif" alt="Gif">
        <img id="Pokemon" src="../../assets/images/CorPokemon.gif" alt="Gif">
    </span>
</body>
</html>