<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/af90d27089.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="skills">
        <div id="Imagem">

        </div>
        <div id="Texto">
            <h1>
                Habilidades
            </h1>
            <span id="MovementSkills">
                <span>
                    <i class="fa-brands fa-html5"></i>
                </span>
                <span>
                    <i class="fa-brands fa-css3-alt"></i>
                </span>
                <span>
                    <i class="fa-brands fa-js"></i>
                </span>
                <span>
                    <i class="fa-brands fa-python"></i>
                </span>
                <span>
                    <i class="fa-brands fa-react"></i>
                </span>
            </span>
            <h2>
                Cursos
            </h2>
            <span id="Courses">
                <div class="CanalCurso">
                    <img src="../../../images/CFbCurso.jpg" alt="LogoCurso">
                </div>
                <div id="ClosedButton" class="CanalCurso">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                <div class="CanalCurso">
                    <img src="../../../images/CursoVideo.jpg" alt="LogoCurso">
                </div>
            </span>
        </div>
    </div>
    <div id="certificates">
        <span id="MoveCertificates">
            <div class="Cert_Card CertHtml">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Curso-HTML5-e-CSS3-modulo-1-de-5-40-HORAS-Certificado-Curso-em-Video.pdf" download="Certificado_HTML_CSS_M1" type="application/pdf">
                    Html Css M1
                </a>
            </div>
            <div class="Cert_Card CertHtml">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Curso-HTML5-e-CSS3-modulo-2-de-5-40-HORAS-Certificado-Curso-em-Video.pdf" download="Certificado_HTML_CSS_M2" type="application/pdf">
                    Html Css M2
                </a>
            </div>
            <div class="Cert_Card CertHtml">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Curso-HTML5-e-CSS3-modulo-3-de-5-40-HORAS-Certificado-Curso-em-Video.pdf" download="Certificado_HTML_CSS_M3" type="application/pdf">
                    Html Css M3
                </a>
            </div>
            <div class="Cert_Card CertHtml">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Curso-HTML5-e-CSS3-modulo-4-de-5-40-HORAS-Certificado-Curso-em-Video.pdf" download="Certificado_HTML_CSS_M4" type="application/pdf">
                    Html Css M4
                </a>
            </div>
            <div class="Cert_Card CertJs">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Javascript-40-Horas-Certificado-Curso-em-Video.pdf" download="Certificado_Js_M1" type="application/pdf">
                    Js M1
                </a>
            </div>
            <div class="Cert_Card CertPy">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Python-3-8211-Mundo-1-40-Horas-Certificado-Curso-em-Video.pdf" download="Certificado_Py_M1" type="application/pdf">
                    Py M1
                </a>
            </div>
            <div class="Cert_Card CertPy">
                <a href="../../../HabilidadesCertificados/Gustavo-Augusto-Python-3-8211-Mundo-2-40-Horas-Certificado-Curso-em-Video.pdf" download="Certificado_Py_M2" type="application/pdf">
                    Py M2
                </a>
            </div>
        </span>
    </div>
</body>
</html>
<script src="Script.js"></script>