*{
    margin: 0;
    padding: 0;
}
#SobreMim{
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 10px;
    padding-top: 7em;
}
#ProfilePhoto{
    position: relative;
    width: 100%;
}
.square{
    height: 400px;
    padding: 10px;
    display: grid;
    place-items: center;
}
#PhotoOne{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #1E9C4D;
    border: 1px solid rgba(0, 0, 0, 0.341);
}
#PhotoTwo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #C51D16;
    background-image: url("../../../images/LogoDrPeste.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
    border: 4px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
#About{
    width: 100%;
}
#About > div{
    background-color: #1E9C4D;
    color: white;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.341);
}
#About > div > p{
    text-indent: 20px;
    padding: 4px;
}
#About > div > h1{
    font-family: "Cloister";
}
@media only screen and (max-width: 622px){
    .square{
        height: 400px;
    }
    #PhotoOne{
        top: 54%;
        width: 130px;
        height: 130px;
    }
    #PhotoTwo{
        width: 130px;
        height: 130px;
    }
    #About > div > p{
        text-indent: 20px;
        padding: 2px;
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 12px;
        margin-top: 60px;
    }
}