@charset "utf-8";
@font-face{
    font-family: 'Elegantech';
    src: url('../../Fontes/elegantech/EleganTech-.ttf');
}
:root{
    --CorRoxo:#731DD8;
    --CorBranco:#DADAD9;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: 'Elegantech';
    color: var(--CorBranco);
}
#Body2{
    background-image: url('../../imagem/Jpg/Cego.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    padding: 2%;
}
.Col_Hab > img{
    width:16%;
}
#Projetos > div > img{
    width: 45%;
}
button{
    background-color: var(--CorRoxo);
    padding: 8px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.5;
}
a{
    width: auto;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Botãos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
#Botãos > button{
    margin: 2px;
    font-size: 2.0vw;
}
#Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}
#Logo > a > img{
    width: 17vw;
    border-radius: 50%;
}
/* Textos */
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
h1,h2,h3,h4{
    line-height: 2em;
}
strong{
    color: var(--CorRoxo);
}
#Alinhamento_HP2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#Habilidades{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20% 0% 0% 20%;
    background-color: rgba(0, 217, 255, 0.068);
}
#Habilidades > div > h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#Projetos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(0, 217, 255, 0.068);
    border-radius: 0% 20% 20% 0%;
}
img{
    border: 2px solid var(--CorRoxo);
}
img:hover{
    border-color: #b071f8;
    cursor: pointer;
}
img:active{
    border-color: #461283;
}
#Projetos > h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Apoie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#qr > img{
    background-color: #dec8f8;
    width: 30vw;
}
#Rodapé{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#res{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    color: white;
    background-color: #731DD8;
    border-radius: 50%;
    opacity: 0.7;
}