:root{
    --Cor1: #23C9FF;
    --Cor10: #1889af;
    --Cor2: #FF499E;
    --Cor20: #cc387d;
    --Cor3: #054A91;
    --Cor3_5: #054b918e;
    --Cor3_9: #054b9127;
    --Cor4: #B94AFF;
    --Cor40: #8231b4;
    --Cor4_5: #ba4aff88;
    --Cor4_9: #ba4aff4f;

    --Cor7: #888888;
    --Cor8: #3a3a3a;
    --Cor9: #020202;
    --Cor0: #fafafa;
}
@font-face{
    font-family: 'Gamer';
    src: url('../../Fontes/gamer_2/Gamer.ttf');
}
@font-face{
    font-family: 'ModernoTech';
    src: url('../../Fontes/elegantech/EleganTech-.ttf');
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(--Cor0);
    font-family: 'ModernoTech';
}
a{
    text-decoration: none;
}
h1,h2,strong{
    font-family: 'Gamer';
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.5em;
}
p{
    font-size: 0.9em;
}
strong{
    font-size: 1.2em;
}
body{
    background-color: black;
    background-image: url(../../imagem/Jpg/Cego.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 96vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.DivBotão{
    background-color: rgba(137, 43, 226, 0);
    width: 15vw;
    display: grid;
    place-items: center;
}
.Links{
    background-color: rgba(137, 43, 226, 0);
    width: 15vw;
    display: grid;
    place-items: center;
}
.Botão{
    height: 30px;
    width: 100px;
    color: var(--Cor2);
    background-color: var(--Cor8);

    border-top: 2px solid var(--Cor1);
    border-left: 2px solid var(--Cor2);
    border-right: 2px solid var(--Cor1);
    border-bottom: 2px solid var(--Cor2);
    cursor: pointer;
}

.Botão:hover{
    border-top: 2px solid var(--Cor2);
    border-left: 2px solid var(--Cor1);
    border-right: 2px solid var(--Cor2);
    border-bottom: 2px solid var(--Cor1);
    color: var(--Cor1);
}
.Botão:active{
    border: 2px solid var(--Cor4);
    color: var(--Cor4);
}
/* Foto */
#Foto{
    display: grid;
    place-items: center;
}
.Foto{
    border-radius: 50%;
    width: 15vw;
}
/* Texto */
.Texto{
    margin: 5px;
}
#Nome{
    background-image: linear-gradient(to right, var(--Cor1), var(--Cor2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--Cor3);
}
/* HP */
.Foto{
    border-top: 2px solid var(--Cor1);
    border-left: 2px solid var(--Cor2);
    border-right: 2px solid var(--Cor1);
    border-bottom: 2px solid var(--Cor2);
    cursor: pointer;
}
.Foto:hover{
    border-top: 4px solid var(--Cor2);
    border-left: 4px solid var(--Cor1);
    border-right: 4px solid var(--Cor2);
    border-bottom: 4px solid var(--Cor1);
}
.Foto:active{
    border: 3px solid var(--Cor4);
}
.HP{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Cor3_9);
}
.Habilidades{
    display: grid;
    place-items: center;
    border-radius: 20%;
    
}
#Caixa1 > div > svg{
    width: 10vw;
    height: 8vh;
    border: 2px solid var(--Cor1);
    fill: var(--Cor10);
    cursor: pointer;
}
#Caixa1 > div > svg:hover{
    border: 2px solid var(--Cor2);
    fill: var(--Cor20);
}
#Caixa1 > div > svg:active{
    border: 2px solid var(--Cor4);
    fill: var(--Cor40);
}
.Projetos{
    display: grid;
    place-items: center;
    background-color: var(--Cor4_9);
    

}
#Caixa2{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
#Caixa2 Img{
    width: 20vw;
    border: 2px solid var(--Cor1);
    cursor: pointer;
}
#Caixa2 Img:hover{
    border: 2px solid var(--Cor2);
}
#Caixa2 Img:active{
    border: 2px solid var(--Cor4);
}
/* Apoie */
.Apoie{
    display: grid;
    place-items: center;
}
.Apoie > img{
    border: 4px solid var(--Cor1);
    border-bottom: 4px solid var(--Cor8);
    border-left: 4px solid var(--Cor8);
    margin: 10px;
    cursor: pointer;
}
.Apoie > img:hover{
    border: 4px solid var(--Cor2);
    border-top: 4px solid var(--Cor8);
    border-right: 4px solid var(--Cor8);
}
.Apoie > img:active{
    border: 4px solid var(--Cor4);
}
/* Rodapé */
footer{
    display: grid;
    place-items: center;
    margin-top: 10px;
}
#Criandor{
    font-size: 10px;
    font-family: 'ModernoTech';
}